# Environments
venv/
.venv/
env/
ENV/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class

# Node / Frontend
node_modules/
dist/
dist_electron/
release/
*.asar

# Databases
*.sqlite3
default.db

# Secrets
.env
.env.production

# IDEs
.idea/
.vscode/

# C++ build artifacts
build/
