version: "3.9"

services:
  backend:
    build: .
    container_name: infradb_backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=backend.settings
    restart: always
